<%- include('partials/_header') %>

<body>
    <h1> ShortURL - URL </h1>
      <% for (var i in urls) { %>
        <li><b><%= i %></b> - <%= urls[i] %></li>
          <form method="GET" action="/urls/<%= i %>">
            <button>Edit</button>
          </form>
          <form method="POST" action="/urls/<%= i %>/delete">
            <button>Delete</button>
          </form>
      <% } %>
</body>
</html>