<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <%- include partials/_header %>
  <h1> ShortURL - URL </h1>
    <% for (let shortURL in urls) { %>
      <li><b><%= shortURL %></b> - <a href=<%= urls[shortURL].url %>><%= urls[shortURL].url %></a></li>
        <% if (user_id) { %>
        <form method="GET" action="/urls/<%= shortURL %>">
          <button>Edit</button>
        </form>
        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <button>Delete</button><br />
        </form>
        <% } %>
    <% } %>
    <form method="GET" action="/urls/new">
      <button>New</button>
    </form>
</body>
</html>